html, body {
    background: #141414;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 10px;
}

.app-container {
    width: 100%;
    overflow: hidden;
} 
.app-container.fullscreen-video-view {
    height: 100vh;
    overflow: hidden;
}

/*
 
DETAILS

*/
.detail-view {
    overflow-x: hidden;
}
.detail {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,0.4);
    top: 0px;
    left: 0px;
    z-index: 10;
}
.detail h1 {
    
}
.detail .close {
    padding: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    top: 10px;
    right: 30px;
    position: absolute;
}
.detail-wrapper {
    display: flex;
}
.detail-wrapper .left {
    width: 30vw;
}
.detail-wrapper .left .img-wrapper {
    margin: 5vh;
}
.detail-wrapper .left #video {
    width: 100%;
}
.detail-wrapper .left img {
    max-width: 70%;
    border-radius: 9px;
    box-shadow: 0px 0px 11px rgb(255 255 255 / 42%);
    margin: 0 auto;
    display: block;
}
.detail-wrapper .left .img {
    border-radius: 5px;
    width: 100%;
    height: 90vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.detail-wrapper .right{
    width: 70vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.detail-wrapper .right h1 {
    font-size: 34px;
    width: 70%;
    overflow-wrap: break-word;
}
.detail-wrapper .right .overview{
    font-size: 18px;
    width: 80%;
}
.detail-wrapper .right .structure{
    font-size: 14px;
    margin: 30px 0px;
    border-radius: 11px;
    width: 80%;
    
}
.detail-wrapper .right .structure ul{
    margin: 0;
    align-content: space-around;
    padding: 0px;
    
}
.detail-wrapper .right .structure ul li{
    padding-left: 30px;
    list-style: none;
}
		
.detail-wrapper .right .structure{
    background:rgba(0,0,0,0.4);
}
.detail-wrapper .right .structure ul .struct-item-title{
    padding: 5px;
    background: rgba(0,0,0,0.8);
}
.detail-wrapper .right .structure ul .struct-item-title.is-file{
    cursor: pointer;
}
/* .detail-wrapper .right .structure ul:nth-child(odd) li .struct-item-title{
    background: rgb(70 70 70 / 80%);
} */
.detail-wrapper .right .structure ul li:nth-child(odd) .struct-item-title{
    background: rgb(70 70 70 / 80%);
}

.detail-wrapper .right .structure ul li .struct-item-title:hover{
    background: rgba(200,0,0,0.4);
}
		

/*
 
LIST

*/
.detail-view .types-tabs { display: none; }
.detail-view .search-item { display: none; }
.types-tabs {
    display: flex;
    justify-content: space-evenly;
}
.types-tabs .type {
    padding: 20px 22px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}
.types-tabs .type.active {
    color: red;
}

.search-item {
    display: flex;
    justify-content: space-around;
}
.search-item input {
    padding: 16px 20px;
    border: none;
    background: rgba(255,255,255,0.2);
    width: 100%;
    margin: 0px 60px 20px 60px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}



.detail-view .list-overview {
    filter: blur(10px);
    overflow-y: hidden;
}
.list-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    height: calc(100vh - 94px);
    width: 100vw;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.file-overview {
    /* width: 210px;
    height: 105px; */
    cursor: pointer;
    position: relative;
    width: 140px;
    height: 215px;
    background: #3a3a3a;
    margin: 10px;
    border-radius: 6px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    box-shadow: 0px 0px 11px rgb(255 255 255 / 13%);
    overflow: hidden;
}

.file-overview .title {
    word-wrap: break-word;
    /* line-height: 16px; */
    font-size: 18px;
    padding: 10px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    width: 100%;
    padding-top: 63px;
}

.file-overview .title.hover-only {
   display:none;
}
.file-overview:hover .title.hover-only {
   display:block;
}
.file-overview .starred {
    display:none;
    position: absolute;
    top: 8px;
    right: 7px;
    opacity: 0.4;
    color: yellow;
}
.file-overview:hover .starred {
   display:block;
}



/* 

VIDEO COMPONENT

*/
.video-component {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 260px;
    max-width: 410px;
    min-width: 40%;
    padding: 0px;
    z-index: 11;
    box-shadow: 0px 0px 11px rgb(255 255 255 / 82%);
}
.video-component.fullscreen {
    bottom: 0px;
    right: 0px;
    width: calc(100% - 0px);
    max-width: 100%;
    height: calc(100% - 0px);
}
.video-wrapper {
    height: calc(100% - 0px);
}

.video-wrapper #video {
    height: calc(100%);
    width: 100%;
    background: black;
}
.video-wrapper iframe {
    border: none;
}


.ipad .video-wrapper .control-wrapper {
    left: 100px;
}
.video-wrapper .control-wrapper { 
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0.8);
    color: black;
    padding: 8px;
    max-width: 100%; 
}
.video-wrapper .control-wrapper:hover {
    display: block;
    opacity:1;
    height: auto;
}
.video-wrapper .control-wrapper {
    display: block;
    overflow: hidden;
    height: 20px;
    opacity:0;
}
.video-wrapper .control-wrapper .control-part {
    display: flex;
    margin-top: 10px;
}



.video-wrapper .control-wrapper .control-part.text-config {
    margin-top: 25px;
}
.video-wrapper .control-wrapper .loglink {
    padding-left: 10px;
    color: blue;
}



.video-wrapper .control-wrapper .control {
    padding-right: 10px;
}
.video-wrapper .control-wrapper .control input {
    max-width: 70px;
}



.video-wrapper .control-wrapper .video-config {
    display: flex;
}
.video-wrapper .control-wrapper .video-config button {
    margin-right: 10px;
    padding: 0px 10px;
}



/* .video-wrapper .controls {
    
    color: black;
    cursor: pointer;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 800;
}
.video-wrapper .control{
    padding: 0px 5px 0px 0px;
}
			
.video-wrapper .controls .size input{
    width: 51px;
}
.video-wrapper .controls button{
    padding: 0px 7px;
    margin-right: 30px;
}
.video-wrapper .controls .control.small input{
    width: 31px;
}
.video-wrapper .controls input{
    width: 31px;
    padding: 1px 5px;
    border: 0px;
    background: #d4d4d4;
}
			
.video-wrapper .controls .control.input{
    font-size: 10px;
    font-weight: 400;
} */





.video-component {
    background: black;
}

/* .video-component:hover {
    background: white;
}
.video-wrapper:hover .controls {
    display: flex;
}
.video-wrapper .controls {
    display: none;
}
.video-wrapper:hover .title-item{
    opacity: 1;
}
.video-wrapper .title-item{
    opacity: 0;
    position: absolute;
    top: 5px;
    z-index: 14;
    color: white;
    font-weight: 300;
    font-size: 10px;
    left: 5px;
} */

